*{
    background-color: chartreuse; color: black;
}
h1{
    background-color: brown;
}
p{
    background-color: brown;
}
h1,p{
    background-attachment:fixed;
}
.head{
    background-color: blueviolet;
}
#ab{
    background-color: darkgoldenrod;
}